.App {
  display : flex;
  flex-direction: column;

}

.header {
  padding : 1rem 2rem;
  background : rgb(9, 121, 165);
  display : flex;
  justify-content: space-between;
  align-items: center
}
.header h1 {
  color : wheat;
}
.header select {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  border : none;
}

section { 
  padding : 1rem;
}

.contents { 
  display : grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}